
.chat-sender {
  background: white;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  align-self: end;
}
.chat-sender > input {
  height: 70%;
  background-color: rgb(154, 140, 140);
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}
.chat-sender > div:nth-of-type(1) {
  background: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.chat-sender > div {
  height: 70%;
  padding: 0px 15px 0px 15px;
}

.ps-cbutton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}

.usersInfo{
  display: flex;
  justify-content:flex-start ;
  align-items: center;
  gap: 10px;
  margin: 20px;
  font-weight: bold;
}

.commentUserImage{
  width: 3rem;
  height: 4rem;
  border-radius: 10%;
}

.commentContent{
  background: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  width: auto;
  height: 5vh;
  border-radius: 10% 10% 10% 10%;
}